root = true

[*]
charset = utf-8
indent_style = space
max_line_length = 120

# noinspection EditorConfigKeyCorrectness
[{*.kt,*.kts}]
# Don't allow any wildcard imports
ij_kotlin_packages_to_use_import_on_demand = unset

# Prevent wildcard imports
ij_kotlin_name_count_to_use_star_import = 99
ij_kotlin_name_count_to_use_star_import_for_members = 99

# KtLint rules
ktlint_function_signature_body_expression_wrapping = default
ktlint_standard_string-template-indent = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_blank-line-before-declaration = disabled
